# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = yahoo_spider.settings

[deploy]
url = http://shiaukuan.asuscomm.com:6801
project = yahoo_spider
username=sk
password=skcrawler